RPC_URL_ARB=
RPC_URL_ETH=
ETHERSCAN_API_KEY=
PRIVATE_KEY=
FEE_MANAGER=
TOMI_DISPUTE=
USDT_ADDRESS=
RESOLVER_AI=
SIGNER_ADDRESS=
BRIDGE_ADDRESS=
ETH_BURNER=
TOMI_ADDRESS=
PERMIT2_ADDRESS=
UNIVERSAL_ROUTER=
USDT_ADDRESS_ETH=
